.loader-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 55px;
  height: 55px;
  border: 6px solid #d1d1d1;
  border-top-color: #4caf50;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
